__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Sorties générées
mlruns/
mlartifacts/
artifacts/*
!artifacts/.gitkeep
data/*
!data/.gitkeep

.env.dev
.env.prod
CLAUDE.md
